<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <div  class ="brand">
        <a href="/" class="brand">Riffin</a>
      </div>
      <a href="/tablatures/new">
        <span>New</span>
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href="/profiles/<%= user.profile._id %>">
        <span>My Riffs</span>
        <i class="fa-solid fa-file"></i>
      </a>
      <a href="/collections">
        <span>Collections</span>
        <i class="fa-solid fa-bookmark"></i>
      </a>
      <a href="/tablatures/trending">
        <span>Trending</span>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </a>
      <a href="/auth/logout">
        <span>Sign out</span>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
      <img class="circle img-sm" src="<%= user.profile.avatar %>" alt="" srcset="">
    <% } else { %>
      <div  class ="brand">
        <a href="/" class="brand">Riffin</a>
      </div>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
