</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/tablatures/trending" class ="brand">Lickwarden</a>
      <a href="/tablatures/new">
        New
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href="/profiles/<%= user.profile._id %>">
        Licks
        <i class="fa-solid fa-music"></i>
      </a>
      <a href="/collections">
        Collections
        <i class="fa-solid fa-bookmark"></i>
      </a>
      <a href="/tablatures/trending">
        Trending
        <i class="fa-solid fa-arrow-trend-up"></i>
      </a>
      <a href="/auth/logout">
        Sign out
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <% } else { %>
      <a href="/auth/google">
        <i class="fa-brands fa-google"></i>
        Sign in
      </a>
    <% } %>
  </nav>
