</head>
<body>
  <nav>
    <% if (user) { %>
      <div  class ="brand">
        <a href="/tablatures/trending" class="brand">Lickwarden</a>
      </div>
      <a href="/tablatures/new">
        <span>New</span>
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href="/profiles/<%= user.profile._id %>">
        <span>Licks</span>
        <i class="fa-solid fa-file"></i>
      </a>
      <a href="/collections">
        <span>Collections</span>
        <i class="fa-solid fa-bookmark"></i>
      </a>
      <a href="/tablatures/trending">
        <span>Trending</span>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </a>
      <a href="/auth/logout">
        <span>Sign out</span>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <% } else { %>
      <a href="/auth/google">
        Sign in with Google
        <i class="fa-brands fa-google"></i>
      </a>
    <% } %>
  </nav>
