<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gallery.css" />
<%- include('../partials/nav') %>

<main>
    <div class="margin-sm">
        <div class="flex wrap space-around">
            <% tabs.forEach(tab => { %>
                <!-- Gallery element will need to be a grid -->
                <div class="flex-col md">
                    <%- include('../partials/tab-card.ejs', {tab, showOwner: false}) %>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>