<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <input type="text" name="tab-name" class="tab-name-input" placeholder="lick title">
  <!-- There are 240 available characters in this layout, but need to add an additional 5 to account for new line characters -->
  <textarea name="tab-data" cols="40" rows="6" maxlength="245">
e|--------------------------------------
B|--------------------------------------
G|--------------------------------------
D|--------------------------------------
A|--------------------------------------
E|--------------------------------------</textarea>

<!-- will eventually create this area with JS -->
</main>

<%- include('./partials/footer') %>
