<%- include('./partials/html-head') %>
<link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
<%- include('./partials/nav') %>

<main>
    <div class="flex-col center">
        <h1 class="tagline">Let the music flow</h1>
        <h2 class="sub-tag">A no-nonsense tablature sketchpad</h2>
        <img class="demo" src="/demo/demo.gif" alt="Riff demo">
    </div>
</main>

<%- include('./partials/footer') %>
