<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gallery.css" />
<%- include('../partials/nav') %>

<main>
    <% collections.forEach(collection => { %>
        <a href=""><%= collection.name %></a>
    <% }) %>
</main>

<%- include('../partials/footer') %>