<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tablature-styles.css" />

<%- include('../partials/nav') %>

<!-- This is trending -->
<main>
    <div class="flex center margin-xlg">
        <h1>Trending Riffs</h1>
    </div>
    <div class="flex wrap space-around">
        <% tabs.reverse().forEach(tab => { %>
            <div class="flex-col md">
                <%- include('../partials/tab-card.ejs', {tab, showOwner: true}) %>
            </div>
        <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>