<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <form class="tab-form" action="/tablatures" method="POST" autocomplete="off">
    <div class="wrapper">
      <input type="text" name="name" class="tab-name-input" placeholder="a tasty lick" >
      <label class="switch">
        <input type="checkbox" name="public">
        <span class="slider round"></span>
      </label>
    </div>
    <!-- There are 240 available characters in this layout, but need to add an additional 5 to account for new line characters -->
    <textarea name="notesOnStrings" cols="40" rows="6" maxlength="245">
e---------------------------------------
B---------------------------------------
G---------------------------------------
D---------------------------------------
A---------------------------------------
E---------------------------------------</textarea>
      <div class="save-btn-wrapper">
        <button type="submit" class="save-btn">
          SAVE
        </button>
        <br>
      </div>
  </form>

</main>

<%- include('../partials/footer') %>
