<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <form class="tab-form" action="/tablatures" method="POST" autocomplete="off">
    <input type="text" name="name" class="tab-name-input" placeholder="a tasty lick" >
    <!-- There are 240 available characters in this layout, but need to add an additional 5 to account for new line characters -->
    <!-- Text needs to be all janky like this so it renders properly. Can fix with a js script at some point -->
    <textarea name="notesOnStrings" cols="40" rows="6" maxlength="245">
e---------------------------------------
B---------------------------------------
G---------------------------------------
D---------------------------------------
A---------------------------------------
E---------------------------------------</textarea>
    <button type="submit">save</button>
  </form>

</main>

<%- include('../partials/footer') %>
