
/* Gallery specific stuffs */
main {
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-container {
  margin: 25px 15px;
  flex-basis: 40%;
  white-space: nowrap;
}

h1 {
  color: var(--nord6-color);
  font-family: var(--tab-font-family);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.tab-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.tab-text {
  color: var(--nord6-color);
  font-family: var(--tab-font-family);
  line-height: 0.3;
}

