
/* Gallery specific stuffs */
main {
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  white-space: nowrap;
}

.gallery-container:hover {
  transition: background-color 0.5s ease;
  background-color: var(--nord2-color);
}

h1 {
  color: var(--nord6-color);
  font-family: var(--tab-font-family);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.tab-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.tab-text {
  color: var(--nord6-color);
  font-family: var(--tab-font-family);
  line-height: 0.3;
}
