html {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --nord0-color: #2E3440;
  --nord1-color: #3B4252;
  --nord2-color: #434C5E;
  --nord3-color: #4C566A;
  --nord4-color: #D8DEE9;
  --nord5-color: #E5E9F0;
  --nord6-color: #ECEFF4;
  --aurora0-color: #BF616A;
  --aurora3-color: #EBCB8B;
  --aurora4-color: #A3BE8C;
  --tab-font-family: 'Roboto Mono', monospace;

}

body {
  background-color: var(--nord0-color);
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  height: 100vh;
  /* Will need to remove this on some pages so users can scroll!! */
  /* overflow: hidden; */
}

nav {
  background-color: var(--nord0-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px
}

nav a {
  text-decoration: none;
  font-size: 2rem;
}

.brand {
  font-size: 2.4rem;
  flex-grow: 1;
}

p {
  color: var(--nord5-color);
}

h1 {
  font-size: 3rem;
  color: var(--nord5-color);
  margin: 0;
}

a {
  color: var(--nord6-color);
  margin: 10px 20px;
  text-decoration: none;
}

hr {
  color: var(--nord5-color);
  width: 95%;
}

/* Button stuff */
.btn {
  background-color: transparent;
  border: none;
  color: var(--nord4-color);
  cursor: pointer;
  font-size: 3rem;

}

.save-btn {
  font-family: var(--tab-font-family);
  font-weight: 100; 
}

.save-btn:hover {
  transition: color 0.5s ease;
  color: var(--aurora4-color);
}

.dlt-btn {
  padding-top: 4px;
  font-size: 3rem;
  color: var(--nord4-color)
}

.dlt-btn:hover {
  transition: color 0.5s ease;
  color: var(--aurora0-color);
}

@media only screen and (max-width: 1025px) {
  nav span {
    display: none;
  }
}