html {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --nord0-color: #2E3440;
  --nord1-color: #3B4252;
  --nord2-color: #434C5E;
  --nord3-color: #4C566A;
  --nord4-color: #D8DEE9;
  --nord6-color: #ECEFF4;
  --aurora3-color: #EBCB8B;
  --aurora4-color: #A3BE8C;
  --tab-font-family: 'Roboto Mono', monospace;

}

body {
  background-color: var(--nord0-color);
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  height: 100vh;
  /* Will need to remove this on some pages so users can scroll!! */
  /* overflow: hidden; */
}

nav {
  background-color: var(--nord0-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px
}

nav a {
  text-decoration: none;
  font-size: 2rem;
}

.brand {
  font-size: 2.4rem;
  flex-grow: 1;
}

main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

a {
  color: var(--nord6-color);
  margin: 10px 20px;
}

textarea, .tab-name-input {
  display: block;
  background-color: var(--nord0-color);
  border: none;
  color: var(--nord6-color);
  font-size: 2.8rem;
  outline: none;
  resize: none;
}

textarea {
  margin-bottom: 100px;
}

.save-btn-wrapper {
  text-align: center;
}

.save-btn {
  background-color: transparent;
  border: none;
  color: var(--nord6-color);
  cursor: pointer;
  font-size: 3rem;
  font-family: var(--tab-font-family);
  font-weight: 100;
}

.save-btn:hover {
  transition: color 0.5s ease;
  color: var(--aurora4-color);
}

/* 
Change placeholder color with a little help from my friends:
https://stackoverflow.com/questions/2610497/change-a-html5-inputs-placeholder-color-with-css
*/
::placeholder { /* Most modern browsers support this now. */
 color:    var(--nord3-color);
}

@media only screen and (max-width: 1025px) {
  nav span {
    display: none;
  }
}