/* Containers */
.flex-col {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.flex {
    display: flex;
    gap: 2rem;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.center-self {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.grow-1 {
    flex-grow: 1;
}

/* Sizing */
.xl {
    font-size: 3rem;
}

.lg {
    font-size: 2.8rem;
}

.md {
    font-size: 2.2rem;
}

.sm {
    font-size: 1.6rem;
}

/* Helpers */
.no-marg {
    margin: 0;
}

.margin-sm {
    margin: 20px;
}

.margin-x-sm {
    margin: 0 20px;
}

.margin-y-sm {
    margin: 20px 0;
}

.margin-y-xxl {
    margin: 100px 0;
}

.margin-lg {
    margin: 40px;
}

.width-sm {
    width: 200px;
}

.hidden {
    visibility: hidden;
}

.bg-color-0 {
    background-color: var(--nord0-color);
}

.dark-text {
    color: var(--nord3-color);
}

.mono-font {
  font-family: var(--tab-font-family);
}

.thin-font {
    font-weight: 100;
}

.color-3 {
    color: var(--nord2-color);
}

.frost-0 {
    color: var(--frost0-color);
}

.circle {
    border-radius: 50%;
}

.img-sm {
    width: 35px;
}